/* Main Grid*/
#left { grid-area: left; }
#tank { grid-area: tank; }
#right { grid-area: right; }
#facts { grid-area: fact; }

.aquarium {
  display: grid;
  grid-template-columns: 17% 64% 17%;
  grid-template-areas:
    'left tank right'
    'left fact right';
  gap: 10px;
  background-color: rgba(125, 176, 248, 0.8) ;
  padding: 10px;
}

.aquarium > div {
  background-color: rgba(125, 176, 248, 0.8);
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  border-width: 4px;
}

.aquarium > div > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/* Main Grid Done */

/*Side Tanks*/
#title {grid-area: title;}
#tL { grid-area: topL; }
#tR { grid-area: topR; }
#dL { grid-area: downL; }
#dR { grid-area: downR; }

.sidebarGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'title title'
    'topL topR'
    'downL downR';
  gap: 10px;
  padding: px;
}

.sidebarGrid > div {
  
  padding: 5px 0;
}

.sidebarGrid > div >img{
  height: 50px;
  width:50px
}
/* Side Tank Done */


h1 {
 font-size: 45px;
 text-align: center;
}

.item{
  scale: 170%;
}

.drumTank{
  position: relative;
  z-index: 3;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  transition: opacity 0.5s ease;
  flex-direction: column; /* added to make the loading text and bar stack vertically */
}

#loading-bar-container {
  width: 50%;
  height: 20px;
  background-color: #ddd;
  border-radius: 14px; /* optional: rounds corners of container */
  margin-top: 20px; /* space between the loading text and the bar */
}

#loading-bar {
  height: 100%;
  width: 0;
  background-color: #4CAF50;
  border-radius: 14px; /* optional: rounds corners of bar */
  animation: load 9s forwards; /* animation that lasts 9 seconds */
}

@keyframes load {
  to {width: 100%;}
}

#play{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

#play button {
  background-color: #4caf9c; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block;
  font-size: 2em; /* Change the font-size to adjust the size */
  margin: 4px 2px;
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#play button:hover {
  background-color: #455aa0; /*  blue color on hover */
}

